{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animes list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>nomImage</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anime in animes %}
            <tr>
                <td><a href="{{ path('anime_show', { 'id': anime.id }) }}">{{ anime.name }}</a></td>
                <td>{{ anime.nomImage }}</td>
                <td>{{ anime.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('anime_show', { 'id': anime.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('anime_edit', { 'id': anime.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anime_new') }}">Create a new anime</a>
        </li>
    </ul>
{% endblock %}
